.footer-bottom {
	width: 100%;
	background-image: url("../img/footerbottombg.png");

	.footer-bottom-left {
		margin: 3rem 0 3rem 0;
	}

	.footer-bottom-right {
		text-align: right;
		margin: 3rem 0 3rem 0;
	}
}
		.white-txt {
			color: #c7b299;
		}