.logos {
	height: 100%;
	width: 100%;
	padding: 1rem;
	border-bottom: 0.1rem #8a8b8d solid;
	background-image: url("../img/logos-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.logos-img {
	padding: 7rem 0 7rem 0;
}