.video {
	height: 100%;
	width: 100%;
	padding: 3rem;
	background-image: url("../img/purchase.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.video-h {
		padding-bottom: 5rem;
		color: #d1c0ac;
	}
}